go 1.26.0

use (
	.
	./operator
	./services/aio-svc
	./services/alert-svc
	./services/auth-svc
	./services/autoscaler-svc
	./services/config-svc
	./services/device-svc
	./services/gpu-svc
	./services/incident-svc
	./services/log-svc
	./services/portal-svc
	./services/runbook-svc
	./services/task-svc
	./services/tf-provider
)
